<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <title>Kanzi HTML5 Template</title>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/ie-fixes.js"></script>
        <link rel="stylesheet" href="css/ie-fixes.css">
        <![endif]-->

        <meta name="description" content="Kanzi HTML5 Template">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--- This should placed first off all other scripts -->




        <link rel="stylesheet" href="css/revolution_settings.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/axfont.css">
        <link rel="stylesheet" href="css/tipsy.css">
        <link rel="stylesheet" href="css/prettyPhoto.css">
        <link rel="stylesheet" href="css/isotop_animation.css">
        <link rel="stylesheet" href="css/animate.css">



        <!-- remprod -->
        <link rel="stylesheet" href="css/_colorpicker.css">
        <!-- end remprod -->

        <link href='css/style.css' rel='stylesheet' type='text/css'> 
        <link href='css/responsive.css' rel='stylesheet' type='text/css'>

        <link href="css/skins/light-blue.css" rel='stylesheet' type='text/css' id="skin-file">

        <!-- remprod -->
        <style type="text/css" id="skin-chooser-css">

        </style>
        <!-- end remprod -->

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/respond.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="css/color-chooser.css">
    </head>
    <body>

        <!-- remprod -->
        <script type="text/x-handlebars-template" id="css-skin">


            /* Loading */
            .double-bounce1, .double-bounce2{
            background-color: {{skin_color_rgba}};

            }

            /* Navigation */
            .navigation > li:hover > a,.navigation > li > a:hover,
            .navigation > li > .activelink,.navigation > li:hover > a > i, .navigation > li > a:hover > span.label-nav-sub::before, .navigation > li > a:focus > span.label-nav-sub::before{
            color: {{skin_color}};
            }
            .mobile-menu-button, .mobile-nav, .slider-fixed-container{   
            background-color: {{skin_color}};    
            }

            .navigation > li > a:after, .navigation>li>.activelink:after{
            background-color: {{skin_color}};
            }
            .navigation>li:hover > a > span.label-nav-sub::before,.navigation>li:hover> a > span.label-nav-sub::before{
            color: {{skin_color}};
            }


            /* Page Content Colors */
            .body-wrapper a:hover , .tab a:hover, accordion .title:hover, .top-body a:hover, .bottom-body a:hover
            ,.accordion .active h4, .accordion .title:hover h4, .side-navigation .menu-item.current-menu-item a, .side-navigation .menu-item:hover a:after,
            .side-navigation .menu-item:hover a, a.tool-tip, .team-member .team-member-position, .team-member-progress .team-member-position, .item-img-overlay i
            ,ul.icon-content-list-container li.icon-content-single .icon-box i,.item-img-overlay .portfolio-zoom:hover, .navigation ul li:hover>a, .blog_post_quote:after,
            .item-img-overlay .portfolio-zoom, body .white-text .feature-details a:hover{
            color: {{skin_color}};
            }
            ::selection
            {
            background-color:{{skin_color}};
            }
            ::-moz-selection
            {
            background-color:{{skin_color}};
            }
            .item-img-overlay  .portfolio-zoom:hover, .tab a.active {
            color: {{skin_color}} !important;
            }
            .callout-box{
            border-left-color: {{skin_color}}
            }
            .feature .feature-content,.team-member .team-member-content{
            border-top-color: {{skin_color}};
            }

            .progress .progress-bar{
            background-color: {{skin_color}};
            }
            .blog-masonry .blog_post_quote{
            border-top: 2px solid {{skin_color}};
            }
            .tab a.active:after {
            background-color:{{skin_color}};
            border-color: {{skin_color}};
            }
            .blog-post .blog-post-type,.subscribe-button{
            background: {{skin_color}};
            }
            .blog-post-details-item.blog-post-details-item-right a:hover i,.blog_post_quote .quote-author,.pagination > li > a.prev, 
            .pagination > li > a.next, .pagination > li > a:hover, .pagination > li > a.current,.testimonial-by-name{
            color: {{skin_color}};
            }
            .skin-text{
            color: {{skin_color}} !important;
            }
            body .section-content.section-image{
            background-color: {{skin_color_rgba}};
            }

            .item-img-overlay .item_img_overlay_content{
            background: {{skin_color}};
            }
            .button, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], .section-content.section-color-bg,.content-box.content-style4 h4 i
            ,button.button-main,.body-wrapper .tags a:hover,.callout-box.callout-box2, .blog-search .blog-search-button, .top-title-wrapper, .testimonial-big,
            .content-style3:hover .content-style3-icon, table.table thead tr, .price-table .price-label-badge, .price-table .price-table-header, .section-subscribe .subscribe-button.icon-envelope-alt{
            background-color: {{skin_color}};
            }
            .rev-slider-full .button.btn-flat, .rev-slider-fixed .button.btn-flat{
            background-color: {{skin_color}};
            }
            .btn, input[type="submit"], input[type="button"], button.btn,.btn-primary{
            background-color: {{skin_color}};
            }
            .btn:hover, input[type="submit"]:hover, input[type="button"]:hover, button.btn:hover,.btn-primary:hover{
            background-color: {{skin_color}};

            }
            .btn:focus, input[type="submit"]:focus, input[type="button"]:focus, button.btn:focus,.btn-primary:focus{
            background-color: {{skin_color}};
            }
            .blog-post-icon,.comments-list .children .comment:before,.portfolio-filter li a.portfolio-selected, 
            .portfolio-filter li a:hover, .dropcaps.dropcaps-color-style, .carousel-container .carousel-icon:hover,
            .team-member-image.img-overlay .item_img_overlay_content{
            background-color: {{skin_color}};
            }
            .comments-list .children .comment:after{
            border-color: transparent transparent transparent {{skin_color}};;
            }

            .highlighted-text{
            background-color: {{skin_color}};
            color: #ffffff;
            }
            .icons-list.colored-list li:before, .blog-post-date .day, .blog-post-date .month, strong.colored, span.colored 
            ,.content-style3 .content-style3-icon, .content-box h4 i{
            color: {{skin_color}};
            }
            .content-box.content-style2 h4 i,.content-box.style5 h4 i{
            border-color: {{skin_color}};
            color: {{skin_color}};
            }
            .content-box.content-style2:hover i,.content-box.style5:hover i{
            background-color: {{skin_color}};
            }
            .pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .price-table .price-label{
            color: {{skin_color}};
            }


            /* Footer Area Colors */

            .footer .copyright{
            border-color: {{skin_color}};
            }

            .flickr_badge_wrapper .flickr_badge_image img:hover{
            border-color: {{skin_color}};
            }


        </script>

        <script type="text/javascript"> var $default_skin = "light-blue";</script><div id="skin-chooser-container" class="skin-chooser-container hide-skin-chooser">
            <a href="" target="_blank" class="skin-save" id="skin-save"><i class="icon-arrow-down"></i> DOWNLOAD NEW SKIN </a>
            <div class="skin-chooser">

                <div class="skin-chooser-label">
                    Layout mode
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <select id="layout-mode">
                        <option value="">Wide</option>
                        <option value="boxed">Boxed</option>
                    </select>
                </div>
                <div class="skin-chooser-label">
                    Predefined Skins
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <div title="light-blue" class="predefined-skins light-blue" data-skinname="light-blue" style="background-color: #279FBB"></div>
                    <div title="green" class="predefined-skins green" data-skinname="green" style="background-color: #26ae91"></div>
                    <div title="red" class="predefined-skins red" data-skinname="red" style="background-color: #d14836"></div>
                    <div title="pink" class="predefined-skins pink" data-skinname="pink" style="background-color: #bb3b6b"></div>
                    <div title="light-purple" class="predefined-skins light-purple" data-skinname="light-purple" style="background-color: #bba6bb"></div>
                    <div title="orange" class="predefined-skins orange" data-skinname="orange" style="background-color: #dd6153"></div>
                    <div title="bright-green" class="predefined-skins bright-green" data-skinname="bright-green" style="background-color: #8cbb75"></div>
                    <div title="dark-blue" class="predefined-skins dark-blue" data-skinname="dark-blue" style="background-color: #2580b1"></div>
                    <div title="oil" class="predefined-skins oil" data-skinname="oil" style="background-color: #9b9e40"></div>
                    <div title="black" class="predefined-skins black" data-skinname="black" style="background-color: #5f5d5c"></div>
                    <div title="light-brown" class="predefined-skins light-brown" data-skinname="light-brown" style="background-color: #d06f71"></div>
                    <div title="coffee" class="predefined-skins coffee" data-skinname="coffee" style="background-color: #9d634c"></div>
                </div>

                <div class="skin-chooser-label">
                    Custom Colors
                </div>

                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="skin-chooser-elements">
                        <div class="color-chooser-group-label">
                            <i class="icon-angle-right"></i> Choose your skin color                    </div>
                        <div class="color-chooser-input">
                            <input type="text" name="skin_color" id="skin_color" class="input-colorpicker"
                                   value="#279FBB"/>
                            <label class="color-preview" for="skin_color"
                                   style="background-color: #279FBB"></label>
                        </div>
                    </div>
                </div>
                <div class="skin-chooser-label">
                    Patterns Background
                </div>

                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="pattern pattern-black-twill" data-body-class="bgpattern-black-twill"></div>
                    <div class="pattern pattern-dark-fish-skin" data-body-class="bgpattern-dark-fish-skin"></div>
                    <div class="pattern pattern-escheresque-ste" data-body-class="bgpattern-escheresque-ste"></div>
                    <div class="pattern pattern-grey" data-body-class="bgpattern-grey"></div>
                    <div class="pattern pattern-knitting250px" data-body-class="bgpattern-knitting250px"></div>
                    <div class="pattern pattern-p4" data-body-class="bgpattern-p4"></div>
                    <div class="pattern pattern-p5" data-body-class="bgpattern-p5"></div>
                    <div class="pattern pattern-p6" data-body-class="bgpattern-p6"></div>
                    <div class="pattern pattern-ps-neutral" data-body-class="bgpattern-ps-neutral"></div>
                    <div class="pattern pattern-pw-maze-white" data-body-class="bgpattern-pw-maze-white"></div>
                    <div class="pattern pattern-pw-pattern" data-body-class="bgpattern-pw-pattern"></div>
                    <div class="pattern pattern-retina-wood" data-body-class="bgpattern-retina-wood"></div>
                    <div class="pattern pattern-shattered" data-body-class="bgpattern-shattered"></div>
                    <div class="pattern pattern-subtle-dots" data-body-class="bgpattern-subtle-dots"></div>
                    <div class="pattern pattern-subtle-surface" data-body-class="bgpattern-subtle-surface"></div>
                    <div class="pattern pattern-whitediamond" data-body-class="bgpattern-whitediamond"></div>
                </div>

                <div class="skin-chooser-label">
                    Images Background
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="image-chooser tuscany-thumb" data-body-class="bg-tuscany"></div>
                    <div class="image-chooser tracks-thumb" data-body-class="bg-tracks"></div>
                    <div class="image-chooser blurred-lines-thumb" data-body-class="bg-blurred-lines"></div>
                    <div class="image-chooser mountain-thumb" data-body-class="bg-mountain"></div>
                </div>



            </div>
            <a href="#" class="arrow-left  icon-settings" id="show_hide_skin_chooser"></a>

        </div>
        <!-- end remprod -->


        <div id="wrapper"  >

            <div class="top_wrapper">
                <div class="top-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="call-us top-bar-block">
                                    <i class="icon-phone"></i>
                                    <span>
                                        Call us at 1- 888 - 999
                                    </span>
                                </div>
                                <div class="mail-us top-bar-block">
                                    <i class="icon-email"></i>                            
                                    <span>
                                        E-mail: info@example.com
                                    </span>                            
                                </div>

                            </div>
                            <div class="col-sm-5">

                                <!-- Search Box -->
                                <div class="searchbox">
                                    <form action="#" method="get">
                                        <input type="text" class="searchbox-inputtext" id="searchbox-inputtext" name="s" placeholder="Search.."/>
                                        <label class="searchbox-icon" for="searchbox-inputtext"></label>
                                        <input type="submit" class="searchbox-submit" value="Search"/>
                                    </form>
                                </div>
                                <!-- //Search Box// -->
                                <div class="social-icons">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon googleplus-icon" data-original-title="googleplus">googleplus</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon pininterest-icon" data-original-title="pininterest">pininterest</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon dribble-icon" data-original-title="dribble">dribble</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Header -->
                <header id="header">
                    <div class="container">

                        <div class="row header">

                            <!-- Logo -->
                            <div class="col-xs-2 logo">
                                <a href="home-version1.html">
                                    <img src="images/main_logo.png" alt="Kanzi HTML5 Template"/>
                                </a>
                            </div>
                            <!-- //Logo// -->


                            <!-- Navigation File -->
                            <div class="col-md-10">

                                <!-- Mobile Button Menu -->
                                <div class="mobile-menu-button">
                                    <i class="fa fa-list-ul"></i>
                                </div>
                                <!-- //Mobile Button Menu// -->




                                <nav>
                                    <ul class="navigation">
                                        <li>
                                            <a href="home-version1.html">
                                                <span class="label-nav">
                                                    Home
                                                </span>
                                                <span class="label-nav-sub" data-hover="Examples">
                                                    Examples
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="home-version1.html">Home version 1</a>
                                                </li>
                                                <li>
                                                    <a href="home-version2.html">Home version 2</a>
                                                </li>
                                                <li>
                                                    <a href="home-version3.html">Home version 3</a>
                                                </li>
                                                <li>
                                                    <a href="home-version4.html">Home Version 4</a>
                                                </li>                                    
                                                <li>
                                                    <a href="home-version5.html">Home Version 5</a>
                                                </li>                                    
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="about-us.html">
                                                <span class="label-nav">
                                                    Pages
                                                </span>
                                                <span class="label-nav-sub" data-hover="Layouts">
                                                    Layouts
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="about-us.html"> About </a>
                                                </li>
                                                <li>
                                                    <a href="services.html"> Services </a>
                                                </li>
                                                <li>
                                                    <a href="team.html"> Our Team </a>
                                                </li>
                                                <li>
                                                    <a href="sidebar-navigation.html"> Sidebar Navigation </a>
                                                </li>
                                                <li>
                                                    <a href="faq.html"> FAQ </a>
                                                </li>
                                                <li>
                                                    <a href="Contact.html">Contact Us </a>
                                                </li>
                                                <li>
                                                    <a href="sign-up.html">Sign Up </a>
                                                </li>
                                                <li>
                                                    <a href="sign-in.html">Sign In</a>
                                                </li>
                                                <li>
                                                    <a href="404.html"> 404 </a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">
                                                <span class="label-nav">
                                                    Blog
                                                </span>
                                                <span class="label-nav-sub" data-hover="The News">
                                                    the news
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="blog.html">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="blog-masonry.html">Blog Masonry</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single.html">Blog Single</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="portfolio-two-columns.html">
                                                <span class="label-nav">
                                                    Portfolio
                                                </span>
                                                <span class="label-nav-sub" data-hover="Our Work">
                                                    Our Work
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="portfolio-two-columns.html">2 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-three-columns.html">3 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-four-columns.html">4 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-single.html">Single</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="elements.html">
                                                <span class="label-nav">
                                                    Shortcodes
                                                </span>
                                                <span class="label-nav-sub" data-hover="Elements">
                                                    Elements
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="accordions.html">Accordions & Toggles</a>
                                                </li>
                                                <li>
                                                    <a href="columns.html">Columns</a>
                                                </li>                                    
                                                <li>
                                                    <a href="elements.html">Elements</a>
                                                </li>                                    
                                                <li>
                                                    <a href="full-block-content.html">Full Block Content</a>
                                                </li>
                                                <li>
                                                    <a href="icon-boxes.html">Icon Boxes</a>
                                                </li>
                                                <li>
                                                    <a href="icons.html">Icons</a>
                                                </li>                                    
                                                <li>
                                                    <a href="price-tables.html">Pricing Tables</a>
                                                </li>                                    
                                                <li>
                                                    <a href="tabs.html">Tabs</a>
                                                </li>
                                                <li>
                                                    <a href="testimonials.html">Testimonials</a>
                                                </li>

                                                <li>
                                                    <a href="typography.html">Typography</a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>

                                </nav>

                                <!-- Mobile Nav. Container -->
                                <ul class="mobile-nav">
                                    <li class="responsive-searchbox">
                                        <!-- Responsive Nave -->
                                        <form action="#" method="get">
                                            <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                                            <button class="icon-search"></button>
                                        </form>
                                        <!-- //Responsive Nave// -->
                                    </li>
                                </ul>
                                <!-- //Mobile Nav. Container// -->
                            </div>
                            <!-- Nav -->

                        </div>



                    </div>
                </header>
                <!-- //Header// -->
                <div class="rev-slider-full">
                    <div class="rev-slider-banner-full  rev-slider-full">
                        <ul>


                            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/placeholders/slider1/bg1.jpg"  alt="rev-full1" data-fullwidthcentering="on">

                                <div class="tp-caption lft stb stl"
                                     data-x="650"
                                     data-y="93"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo"   data-end="6000" data-endspeed="500"><img src="images/placeholders/slider1/imac.png" alt="Image 1"></div>

                                <div class="tp-caption lfb stb stl"
                                     data-x="616"
                                     data-y="194"
                                     data-speed="500"
                                     data-start="700"
                                     data-easing="easeOutExpo"   data-end="6000" data-endspeed="500"><img src="images/placeholders/slider1/ipad.png" alt="Image 1"></div>

                                <div class="tp-caption lfr stb stl"
                                     data-x="751"
                                     data-y="290"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeOutExpo"   data-end="6000" data-endspeed="500"><img src="images/placeholders/slider1/iphone.png" alt="Image 1"></div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="20"
                                     data-y="150"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Responsive Design</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack"data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">More Info</a>
                                </div>                  

                            </li>


                            <li  data-transition="slideleft" data-slotamount="14">
                                <img src="images/placeholders/slider1/bg2.jpg" alt="Rev Full">

                                <div class="caption sfb" data-x="693" data-y="75" data-speed="700" data-start="0"
                                     data-easing="easeOutBack">
                                    <img src="images/placeholders/slider1/mobile.png" alt=""/>
                                </div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="20"
                                     data-y="150"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Very Flexible</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" data-easing="easeOutBack" data-end="4500" data-endspeed="500">
                                    Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin,<br /> 
                                    lorem quis bibendum auctor, nisi elit consequat ipsum, nec <br />
                                    sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack"data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">More Info</a>
                                </div>                

                            </li>

                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                </div></div><!--.top wrapper end -->

            <div class="loading-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>


            <div class="content-wrapper hide-until-loading">

                <div class="section-content top-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <i class="icon-settings-streamline"></i>
                                        Fully Customizable
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
                                        ligula. Nunc commodo lacinia eros ac condimentum

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>read more</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <i class="icon-camera-streamline-video"></i>
                                        Animation Ready
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
                                        ligula. Nunc commodo lacinia eros ac condimentum

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>read more</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <i class="icon-computer-imac"></i>
                                        Responsive Design
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
                                        ligula. Nunc commodo lacinia eros ac condimentum

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>read more</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <i class="icon-paint-bucket-streamline"></i>
                                        Unlimited Skins
                                    </h4>
                                    <div class="content-box-text">
                                        Cras sem erat, aliquet in egestas cursus, ullamcorper vitae
                                        ligula. Nunc commodo lacinia eros ac condimentum

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>read more</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="body-wrapper">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.5s">
                                <h2 class="h2-section-title">Our Work</h2>

                                <div class="i-section-title">
                                    <i class="icon-files">

                                    </i>
                                </div>

                                <div class="space-sep20"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portfolio-items">

                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated web-design"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="0.6s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/placeholders/portfolio1.jpg"
                                                alt=""/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="images/placeholders/portfolio1.jpg"
                                                   data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href=""> Aenean llus mtus </a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated web-design"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="0.8s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/placeholders/portfolio2.jpg"
                                                alt=""/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="images/placeholders/portfolio2.jpg"
                                                   data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href=""> Donec vitae sapien </a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated web-design"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="1s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/placeholders/portfolio3.jpg"
                                                alt=""/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="http://www.youtube.com/watch?v=mcw6j-QWGMo"
                                                   data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href=""> Maecas nec odio </a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated web-design"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="1.2s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/placeholders/portfolio4.jpg"
                                                alt=""/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="images/placeholders/portfolio4.jpg"
                                                   data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href=""> Vestibum friilla </a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated web-design"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="1.4s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/placeholders/portfolio5.jpg"
                                                alt=""/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="images/placeholders/portfolio5.jpg"
                                                   data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href=""> Curatur lula </a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated videos"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="1.6s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/placeholders/portfolio6.jpg"
                                                alt=""/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="images/placeholders/portfolio6.jpg"
                                                   data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href=""> Pellentesque </a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated videos"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="1.8s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/placeholders/portfolio7.jpg"
                                                alt=""/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="http://www.youtube.com/watch?v=mcw6j-QWGMo"
                                                   data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href=""> In enim justo </a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    <div class="thumb-label-item animated seo"
                                         data-animtype="fadeInUp"
                                         data-animrepeat="0"
                                         data-speed="1s"
                                         data-delay="2s">
                                        <div class="img-overlay thumb-label-item-img">
                                            <img
                                                src="images/placeholders/portfolio8.jpg"
                                                alt=""/>

                                            <div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus"
                                                   href="http://www.youtube.com/watch?v=mcw6j-QWGMo"
                                                   data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                <div class="item_img_overlay_content">
                                                    <h3 class="thumb-label-item-title">
                                                        <a href=""> Lutus puvinar </a>
                                                    </h3>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- //Portfolio Item// -->


                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="space-sep40"></div>

                    <div class="section-content section-tabs section-px stones-bg white-text">
                        <div class="tab-container">
                            <div class="section-tab-arrow"></div>
                            <div class="section-etabs-container">
                                <ul class="section-etabs">
                                    <li class="tab active">
                                        <a href="#tabc1"> Our News</a>
                                    </li>
                                    <li class="tab">
                                        <a href="#tabc2"> Clients</a>
                                    </li>
                                    <li class="tab">
                                        <a href="#tabc3"> NewsLetter</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="container">

                                <div class="tab-content">

                                    <div id="tabc1">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3">
                                                <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.4s">
                                                    <div class="feature-image img-overlay">
                                                        <img src="images/placeholders/blog1.jpg" alt="Blog">

                                                        <div class="item-img-overlay">
                                                            <a class="portfolio-zoom fa fa-plus" href="images/placeholders/blog1.jpg"
                                                               data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                        </div>

                                                    </div>

                                                    <div class="feature-content">
                                                        <h3 class="h3-body-title blog-title">
                                                            <a href="">Vix sumo ferri an</a>
                                                        </h3>
                                                        <p>
                                                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                                                        </p>



                                                    </div>

                                                    <div class="feature-details">
                                                        <i class="icon-calendar"></i>
                                                        <span>July 10, 2013</span>
                                                        <span class="details-seperator"></span>

                                                        <a href="#"><i class="icon-comment"></i><span>4</span></a>


                                                        <div class="feature-share">
                                                            <a href="#"><i class="icon-heart"></i></a>
                                                            <a href="#"><i class="icon-facebook"></i></a>
                                                        </div>
                                                    </div>        
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.6s">
                                                    <div class="feature-image img-overlay">
                                                        <img src="images/placeholders/blog2.jpg" alt="Blog">

                                                        <div class="item-img-overlay">
                                                            <a class="portfolio-zoom fa fa-plus" href="images/placeholders/blog2.jpg"
                                                               data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                        </div>

                                                    </div>

                                                    <div class="feature-content">
                                                        <h3 class="h3-body-title blog-title">
                                                            <a href="">Donec vitae sapien</a>
                                                        </h3>
                                                        <p>
                                                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                                                        </p>



                                                    </div>

                                                    <div class="feature-details">
                                                        <i class="icon-calendar"></i>
                                                        <span>July 10, 2013</span>
                                                        <span class="details-seperator"></span>

                                                        <a href="#"><i class="icon-comment"></i><span>4</span></a>


                                                        <div class="feature-share">
                                                            <a href="#"><i class="icon-heart"></i></a>
                                                            <a href="#"><i class="icon-facebook"></i></a>
                                                        </div>
                                                    </div>        
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.8s">
                                                    <div class="feature-image img-overlay">
                                                        <img src="images/placeholders/blog3.jpg" alt="Blog">

                                                        <div class="item-img-overlay">
                                                            <a class="portfolio-zoom fa fa-plus" href="images/placeholders/blog3.jpg"
                                                               data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                        </div>

                                                    </div>

                                                    <div class="feature-content">
                                                        <h3 class="h3-body-title blog-title">
                                                            <a href="">Aenean tellus metus</a>
                                                        </h3>
                                                        <p>
                                                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                                                        </p>



                                                    </div>

                                                    <div class="feature-details">
                                                        <i class="icon-calendar"></i>
                                                        <span>July 10, 2013</span>
                                                        <span class="details-seperator"></span>

                                                        <a href="#"><i class="icon-comment"></i><span>4</span></a>


                                                        <div class="feature-share">
                                                            <a href="#"><i class="icon-heart"></i></a>
                                                            <a href="#"><i class="icon-facebook"></i></a>
                                                        </div>
                                                    </div>        
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="1s">
                                                    <div class="feature-image img-overlay">
                                                        <img src="images/placeholders/blog4.jpg" alt="Blog">

                                                        <div class="item-img-overlay">
                                                            <a class="portfolio-zoom fa fa-plus" href="images/placeholders/blog4.jpg"
                                                               data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                                                        </div>

                                                    </div>

                                                    <div class="feature-content">
                                                        <h3 class="h3-body-title blog-title">
                                                            <a href="">Aenean tellus metus</a>
                                                        </h3>
                                                        <p>
                                                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                                                        </p>



                                                    </div>

                                                    <div class="feature-details">
                                                        <i class="icon-calendar"></i>
                                                        <span>July 10, 2013</span>
                                                        <span class="details-seperator"></span>

                                                        <a href="#"><i class="icon-comment"></i><span>4</span></a>


                                                        <div class="feature-share">
                                                            <a href="#"><i class="icon-heart"></i></a>
                                                            <a href="#"><i class="icon-facebook"></i></a>
                                                        </div>
                                                    </div>        
                                                </div>
                                            </div>
                                        </div>            </div>
                                    <div id="tabc2">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <h2 class="h2-section-title animated" data-animtype="flipInX" data-animrepeat="0" data-animspeed="1s" data-animdelay="0s">Our Clients </h2>
                                                <h3 class="h3-section-info animated" data-animtype="flipInX" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.2s">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                                                    rhoncus ut, imperdiet</h3>
                                                <ul class="section-clients">
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s"><img src="images/placeholders/clients/white_logo1.png" alt="Logo" class="img-responsive client-image" /></li>
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s"><img src="images/placeholders/clients/white_logo2.png" alt="Logo" class="img-responsive client-image" /></li>
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s"><img src="images/placeholders/clients/white_logo3.png" alt="Logo" class="img-responsive client-image" /></li>
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s"><img src="images/placeholders/clients/white_logo4.png" alt="Logo" class="img-responsive client-image" /></li>
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s"><img src="images/placeholders/clients/white_logo5.png" alt="Logo" class="img-responsive client-image" /></li>
                                                </ul>
                                            </div>
                                        </div>            </div>
                                    <div id="tabc3">
                                        <h2 class="h2-section-title animated" data-animtype="flipInY"
                                            data-animrepeat="0"
                                            data-speed="1s"
                                            data-delay="0.2s">
                                            Subscribe To Our NewsLetter
                                        </h2>
                                        <div class="section-subscribe animated" data-animtype="flipInX"
                                             data-animrepeat="0"
                                             data-speed="1s"
                                             data-delay="0.5s">
                                            <form action="#" method="post">
                                                <input type="text" name="q" class="subscribe-input text-input" placeholder="Email.."/>
                                                <button class="subscribe-button icon-email-plane">

                                                </button>
                                            </form>

                                            <div class="social-icons circle">

                                                <a href="#" target="_blank" class="social-media-icon facebook-icon bounceIn" data-original-title="facebook">facebook</a>

                                                <a href="#" target="_blank" class="social-media-icon twitter-icon bounceIn" data-original-title="twitter">Twitter</a>

                                                <a href="#" target="_blank" class="social-media-icon skype-icon bounceIn" data-original-title="skype">skype</a>

                                                <a href="#" target="_blank" class="social-media-icon evernote-icon bounceIn" data-original-title="evernote">evernote</a>

                                                <a href="#" target="_blank" class="social-media-icon flickr-icon bounceIn" data-original-title="flickr">flickr</a>

                                                <a href="#" target="_blank" class="social-media-icon instagram-icon bounceIn" data-original-title="instagram">instagram</a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>    </div>

                    <div class="section-content no-padding">


                        <div class="container">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">
                                    <h2 class="h2-section-title">Take A Closer Look</h2>

                                    <div class="i-section-title">
                                        <i class="icon-zoom-in">

                                        </i>
                                    </div>

                                    <h3 class="h3-section-info">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                        quasi architecto beatae vitae dicta sunt explicabo.
                                    </h3>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 no-bottom-margin animated" data-animtype="fadeInUp"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.7s">
                                    <img src="images/placeholders/responsive-mockup2-placeholder.png" alt="MockUp" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-sep40"></div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.4s">
                                <h2 class="h2-section-title">What We Offer</h2>

                                <div class="i-section-title">
                                    <i class="icon-drive">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 right-text">
                                <ul class="icon-content-list-container">

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Responsive </strong> Design            

                                                <i class="icon-ipad"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Very </strong> Flexible            

                                                <i class="icon-settings"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Unlimited </strong> Skins            

                                                <i class="icon-painting-roll-streamline"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Well </strong> Documented            

                                                <i class="icon-file-settings"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul class="icon-content-list-container">

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Retina </strong> Ready            

                                                <i class="icon-eye"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Multi </strong> Purpose            

                                                <i class="icon-world"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Animation </strong> Ready            

                                                <i class="fa fa-film"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Latest </strong> Technology            

                                                <i class="icon-lab"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Cras sem erat, aliquet in egestas cursus, ullamcorper vitae 
                                                    ligula. Nunc commodo lacinia eros ac condimentum
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="testimonial-big">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-10">
                                <div class="testimonial-big-text animated" data-animtype="fadeInRight"
                                     data-animrepeat="1"
                                     data-speed="1s"
                                     data-delay="0s">
                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                                    nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="testimonial-big-img animated" data-animtype="fadeInLeft"
                                     data-animrepeat="1"
                                     data-speed="1s"
                                     data-delay="0s">
                                    <img src="images/placeholders/testimonial-big.png" alt=""/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!--.content-wrapper end -->
            <footer>
                <div class="footer">

                    <div class="container">
                        <div class="footer-wrapper">
                            <div class="row">


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-content">
                                        <div class="footer-content-logo">
                                            <img src="images/main_logo.png" alt=""/>
                                        </div>
                                        <div class="footer-content-text">
                                            <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                                                dolor.</p>
                                            <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                                                dolor.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Recent Tweets
                                    </div>
                                    <div class="footer-content footer-recent-tweets-container">
                                        <ul class="tweetList footer-recent-tweets">
                                            <li class="tweet_content item">
                                                <p>Grab a copy of the popular Boomerang theme for $10 until its next release! </p>
                                                <p class="timestamp">2 days ago</p>
                                            </li>
                                            <li class="tweet_content item">
                                                <p>Newest Blog Awesome post: Stacking Text and Icons <a href="http://t.co/1qRP8K1wjG">Check it</a></p>
                                                <p class="timestamp">4 days ago</p>
                                            </li>
                                        </ul>                            

                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Links
                                    </div>
                                    <div class="footer-content">
                                        <ul class="footer-category-list">
                                            <li>
                                                <a href="">Lorem Ipsum</a>
                                            </li>
                                            <li>
                                                <a href="">Dolor Sit Amet</a>
                                            </li>
                                            <li>
                                                <a href="">Nullam dignissim</a>
                                            </li>
                                            <li>
                                                <a href="">Lorem Ipsum</a>
                                            </li>
                                            <li>
                                                <a href="">Lorem Ipsum</a>
                                            </li>
                                            <li>
                                                <a href="">Dolor Sit Amet</a>
                                            </li>
                                            <li>
                                                <a href="">Dolor Sit Amet</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Photostream
                                    </div>
                                    <div class="footer-content">
                                        <div class="flickr_badge_wrapper">
                                            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&size=s&layout=x&source=all_tag&tag=Sky,scrappers" id="flicker-images"></script>                            
                                        </div>
                                        <!-- //Footer Col.// -->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 center-text">
                                    <div class="copyright-text">&copy; 2013 Kanzi Theme | Theme Developed By <a href="http://www.activeaxon.com" target="_blank">ActiveAxon</a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div><!-- wrapper end -->

        <script type="text/javascript" src="js/_jq.js"></script>

        <script type="text/javascript" src="js/_jquery.placeholder.js"></script>

        <!-- remprod -->
        <script type="text/javascript" src="js/_colorpicker.js"></script>
        <script type="text/javascript" src="js/_handlebars.js"></script>
        <script type="text/javascript" src="js/_skins.js"></script>
        <script type="text/javascript" src="js/_skinchooser.js"></script>
        <!-- end remprod -->




        <script src="js/activeaxon_menu.js" type="text/javascript"></script> 
        <script src="js/animationEnigne.js" type="text/javascript"></script> 
        <script src="js/bootstrap.min.js" type="text/javascript"></script> 
        <script src="js/ie-fixes.js" type="text/javascript"></script> 
        <script src="js/jq.appear.js" type="text/javascript"></script> 
        <script src="js/jquery.base64.js" type="text/javascript"></script> 
        <script src="js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script> 
        <script src="js/jquery.cycle.js" type="text/javascript"></script> 
        <script src="js/jquery.cycle2.carousel.js" type="text/javascript"></script> 
        <script src="js/jquery.easing.1.3.js" type="text/javascript"></script> 
        <script src="js/jquery.easytabs.js" type="text/javascript"></script> 
        <script src="js/jquery.infinitescroll.js" type="text/javascript"></script> 
        <script src="js/jquery.isotope.js" type="text/javascript"></script> 
        <script src="js/jquery.prettyPhoto.js" type="text/javascript"></script> 
        <script src="js/jQuery.scrollPoint.js" type="text/javascript"></script> 
        <script src="js/jquery.themepunch.plugins.min.js" type="text/javascript"></script> 
        <script src="js/jquery.themepunch.revolution.js" type="text/javascript"></script> 
        <script src="js/jquery.tipsy.js" type="text/javascript"></script> 
        <script src="js/jquery.validate.js" type="text/javascript"></script> 
        <script src="js/jQuery.XDomainRequest.js" type="text/javascript"></script> 
        <script src="js/kanzi.js" type="text/javascript"></script> 
        <script src="js/retina.js" type="text/javascript"></script> 
        <script src="js/timeago.js" type="text/javascript"></script> 
        <script src="js/tweetable.jquery.js" type="text/javascript"></script> 
    </body>
</html>
